-# edit.html.haml using partial

%h1 Sign in

= form_tag sessions_path, method: :post do
  = label :session, :email, 'Email'
  = text_field '',"email"
  %br
  = label :session, :password, 'Password'
  = password_field "","password"
  %br
  = submit_tag 'Sign in', class: 'btn'
  = link_to 'forgot password', forgot_password_user_path
  