%h1 Change Password
= form_tag update_password_user_path(@current_user.id), method: :post, class: 'input_form' do
  = label :user, :old_password, 'old password'
  = password_field :user, :old_password
  = label :user, :password, 'new password'
  = password_field :user, :password
  = label :user, :password_confirmation, 'new password confirmation'
  = password_field :user, :password_confirmation
  %br
  = submit_tag 'Save', class: 'btn btn-primary'
