#products
  = content_tag "div", id: "product_info", data: {address: @current_user.address, state: @current_user.state, city: @current_user.city} do
    = form_for @product_info, :html => { multipart: true }, class: 'product_info_form' do |form|
      .row
        .span6
          = form.label :title, 'Posting Title'
          = form.text_field :title, required: true
      .row
        .span3
          = form.label :tag_list, "Tags (separated by commas)"
          = form.text_field :tag_list
        .span3
          = form.label :price, 'Price'
          = form.number_field :price, required: true 
      .row
        .span6
          = form.label :body, 'Posting Description'
          = form.text_area :body, rows: '10', cols: '80'
      .row
        .span6
          = label :address, :same_as_user do
            = check_box :address, :same_as_user
            Same As Your Address
          = label :address, :address1, 'Address Line 1'
          = text_field :address, :address1, value:  @product_info.address
          = label :address, :address2, 'Address Line 2'
          = text_field :address, :address2
          = form.subregion_select :state, 'US', value:  @product_info.state
          = form.label :city, 'City'
          = form.text_field :city, value:  @product_info.city
      = form.submit 'Save', class: 'btn btn-primary save-btn'